@import "../../style/colours";

.input-calendar-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.input-calendar-title {
	font-family: lato-regular;
	font-size: 14px;
	line-height: 24px;
	color: $Black;
	margin-bottom: 16px;
}

.input-calendar {
	background-color: transparent;
	border: none;
	font-family: lato-regular;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 8px;
	border-bottom: 1px solid $Black;
	color: $Black;

	&::placeholder {
		line-height: 24px;
		font-family: lato-regular;
		font-size: 20px;
		color: $Grey;
	}

	&:focus-visible {
		outline: none;
	}
}

.calendar-icon {
	z-index: 1000;
	position: absolute;
	right: 0;
	bottom: 7px;
	background-color: transparent;
	border: none;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	& > svg {
		width: 24px;
		height: 24px;
	}
}

.calendar-fullscreen-div {
	position: absolute;
	z-index: 999;
	width: 99vw;
	height: 99vh;
}

.calendar-div {
	position: absolute;
	max-width: fit-content;
	max-height: fit-content;
	z-index: 1000;
	background-color: $TransparentBlack;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(3px);
	border-radius: 8px;
	top: 75px;
	right: 0;
	padding: 10px;
	color: white;
	font-family: lato-regular;
}

.calendar-div > .rdp-root {
	--rdp-accent-color: #f47648;
	--rdp-today-color: #f47648;
	--rdp-range_middle-background-color: #ffffff1c;
}
