@import "../../style/colours";

.NavButtonContainer {
	display: flex;
	flex-direction: row;
	gap: 16px;
	width: fit-content;
}

.NavButton {
	border-radius: 50%;
	border: 1px solid $White;
	background-color: transparent;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.2s all ease-in-out;

	&.left > svg {
		rotate: 180deg;
	}

	&:hover {
		border: 1px solid $Grey;
	}

	&:active {
		border: 1px solid $Secondary;
	}

	&.disabled {
		border: 1px solid $Grey;
		& > svg > g > path {
			fill: $Grey;
		}

		cursor: none;
		pointer-events: none;
	}
}

.NavButton > svg {
	width: 15px;
	height: 15px;
}
