@import "../../style/colours";

.Button {
	padding: 8px 32px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	font-family: lato-regular;

	&.primary {
		background-color: transparent;
		border-radius: 5px;

		&.white {
			border: 1px solid $White;
			color: $White;
			font-size: 14px;
			line-height: 24px;

			&:hover {
				border-color: $WhiteHoverDisabled;
				color: $WhiteHoverDisabled;
			}

			&:active {
				border-color: $WhiteActive;
				color: $WhiteActive;
			}
		}

		&.green {
			border: 1px solid $Primary;
			color: $Primary;
			font-size: 16px;
			line-height: 24px;

			&:hover {
				border-color: $PrimaryHover;
				color: $PrimaryHover;
			}

			&:active {
				border-color: $PrimaryActive;
				color: $PrimaryActive;
			}
		}
	}

	&.secondary {
		background-color: $Secondary;
		border-radius: 5px;
		border: none;
		color: $White;
		font-size: 14px;
		line-height: 24px;

		&.disabled {
			background-color: $SecondaryHoverDisabled;
			cursor: none;
			pointer-events: none;
			color: $WhiteHoverDisabled;
		}

		&:hover {
			background-color: $SecondaryHoverDisabled;
		}

		&:active {
			background-color: $SecondaryActive;
		}
	}
}
