// Page Colours
$Primary: #275553;
$PrimaryHover: #3b817e;
$PrimaryActive: #275553a2;

$Secondary: #f47648;
$SecondaryHoverDisabled: #c26a4a;
$SecondaryActive: #ff8e65a2;

$White: #ffffff;
$WhiteHoverDisabled: #cacaca;
$WhiteActive: #ffffffa2;

$Black: #212121;
$DarkGrey: #5a5a5a;
$Grey: #acacac;
$TransparentBlack: #212121c5;
