@import "../../style/colours";

.input-text-container {
	display: flex;
	flex-direction: column;
}

.input-text-title {
	font-family: lato-regular;
	font-size: 14px;
	line-height: 24px;
	color: $Black;
	margin-bottom: 16px;
}

.input-text {
	background-color: transparent;
	border: none;
	font-family: lato-regular;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 13px;

	&::placeholder {
		line-height: 24px;
		font-family: lato-regular;
		font-size: 20px;
		color: $Grey;
	}

	&.dark {
		border-bottom: 1px solid $Black;
		color: $Black;
	}

	&.light {
		border-bottom: 1px solid $White;
		color: $White;
	}

	&:focus-visible {
		outline: none;
	}
}
